@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  letter-spacing: 0.2px;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

#__next {
  width: 100%;
  height: 100%;
}

.text-yellow {
  color: #ffef92;
}

.text-blue {
  color: #4adeff;
}

.text-green {
  color: #a1ff92;
}

.text-white {
  color: white;
}

/* swiper pagination css */
.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #d9d9d9;
}
