@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "XinYiGuanHeiTi";
  src: url("/fonts/Fontquan-XinYiGuanHeiTi\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Porter Sans Block";
  src: url("/fonts/porterSans/porter-sans-inline-block.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  font-family: "IBM Plex Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%;
}

.text-yellow {
  color: #ffef92;
}

.text-blue {
  color: #4adeff;
}

.text-green {
  color: #a1ff92;
}

.text-white {
  color: white;
}

/* .swiper .swiper-wrapper .swiper-slide {
  width: unset !important;
} */

/* .swiper .swiper-wrapper .swiper-slide-active {
  width: unset !important;
}  */

/* .swiper .swiper-wrapper .custom-swiper-slide {
  width: fit-content !important;
} */
